body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  background: #f4f5f7;
}

.login-container {
  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  background: #f4f5f7;
}

.login-card {
  width: 460px;

  background: white;

  border-radius: 6px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

  overflow: hidden;
}

.header-login {
  text-align: center;

  padding: 35px 30px;

  border-bottom: 1px solid #e5e7eb;
}

.header-login h1 {
  color: #005baa;

  font-size: 22px;

  line-height: 1.4;

  margin-bottom: 20px;
}

.header-login p {
  color: #6b7280;

  font-size: 18px;
}

.formulario {
  padding: 35px 30px;
}

.formulario label {
  display: block;

  margin-bottom: 12px;

  font-weight: bold;

  color: #1f2937;

  font-size: 16px;
}

.formulario input {
  width: 100%;

  padding: 16px;

  border: 1px solid #d1d5db;

  border-radius: 4px;

  margin-bottom: 28px;

  font-size: 16px;

  box-sizing: border-box;
}

.password-container {
  position: relative;
}

.mostrar {
  position: absolute;

  right: 15px;

  top: 17px;

  color: #005baa;

  cursor: pointer;

  font-size: 15px;
}

.formulario button {
  width: 100%;

  background: #005baa;

  color: white;

  border: none;

  padding: 15px;

  border-radius: 4px;

  font-size: 20px;

  cursor: pointer;

  transition: 0.2s;
}

.formulario button:hover {
  background: #00478a;
}

.footer-login {
  text-align: center;

  padding: 25px 30px;

  border-top: 1px solid #e5e7eb;
}

.footer-login p {
  color: #6b7280;

  margin-bottom: 15px;
}

.footer-login a {
  color: #005baa;

  text-decoration: none;

  cursor: pointer;
}

.manual {
  display: block;

  margin-top: 18px;
}

.error-login {
  color: #dc2626;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}
