<div class="navbar">
  <div class="titulo">
    <h2>Panel Administrativo</h2>

    <p>Monitoreo general de evaluaciones</p>
  </div>

  <div class="usuario">
    <span> ADMINISTRADOR </span>

    <button>Cerrar sesión</button>
  </div>
</div>

<div class="contenedor-admin">
  <!-- MENÚ SUPERIOR -->

  <div class="menu-admin">
    <button [class.activo]="vistaActiva === 'general'" (click)="vistaActiva = 'general'">
      Información General
    </button>

    <button [class.activo]="vistaActiva === 'postulantes'" (click)="vistaActiva = 'postulantes'">
      Postulantes
    </button>
  </div>

  <!-- INFORMACIÓN GENERAL -->

  <div class="card-general" *ngIf="vistaActiva === 'general'">
    <h2>Información General Postulantes</h2>

    <div class="grid-general">
      <div>
        <strong>Aptos:</strong>
        120
      </div>

      <div>
        <strong>No Aptos:</strong>
        35
      </div>

      <div>
        <strong>Tiempo Promedio:</strong>
        42 min
      </div>

      <div>
        <strong>Evaluaciones Activas:</strong>
        56
      </div>

      <div>
        <strong>Pico de Ingreso:</strong>
        09:00 AM
      </div>
    </div>
  </div>

  <!-- POSTULANTES -->

  <div class="card-postulantes" *ngIf="vistaActiva === 'postulantes'">
    <h2>Postulantes</h2>

    <div class="postulante">
      <img src="https://i.pravatar.cc/100" />

      <div>
        <h3>Juan Pérez</h3>

        <p>Estado: APTO</p>

        <p>Inicio: 8:30 AM</p>

        <p>Fin: 9:12 AM</p>

        <p>Latencia: 32 ms</p>

        <p>Ubicación: Lima, Perú</p>
      </div>
    </div>

    <div class="postulante">
      <img src="https://i.pravatar.cc/101" />

      <div>
        <h3>María Torres</h3>

        <p>Estado: NO APTO</p>

        <p>Inicio: 9:00 AM</p>

        <p>Fin: 9:50 AM</p>

        <p>Latencia: 48 ms</p>

        <p>Ubicación: Piura, Perú</p>
      </div>
    </div>
  </div>
</div>
